html {
  background: #1f3158;
}

svg {
  display: block;
  margin: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-right: 10px;
  padding-left: 10px;
}
input {
  width: 150px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
input[type="button"] {
  background-color: #c6efff;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
input[type="text"]:focus {
  background-color: lightblue;
}
input[type="button"]:hover {
  background-color: #e3f6fd;
}
#messages {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
  max-height: 250px;
  min-height: 250px;
  overflow: scroll;
  color: white;
  background: #111827;
}

#messages p {
  margin: 0;
}

#messages span {
  overflow-y: scroll;
  overflow: scroll;
}

.row > [class^="col-"] {
  padding-top: 0.75 rem;
  padding-bottom: 0.75 rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1 px solid rgba(86, 61, 124, 0.2);
}

.form-control {
  width: 100%;
  height: 2em;
}

.connected {
  background: #28a74694 !important;
  cursor: default !important;
}

.disconnected {
  background: #dc3545 !important;
  cursor: pointer !important;
}

#disconnect-button {
  background: #007bff !important;
}

#disconnect-button.connected {
  cursor: pointer !important;
}

#disconnect-button.disconnected {
  cursor: default !important;
  background: #111827 !important;
}

/* .col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
} */

#qr {
  width: 300px;
  position: absolute;
  right: 2em;
}
